body {
    margin: 0;
}

* {
    font-family: 'Roboto Mono';
}

h1 {
    font-family: 'Chelsea Market';
}

nav {
    display: flex;
    justify-content: space-around;
}

header nav {
    margin-top: 0.5em;
}

nav a {
    text-decoration: none;
    padding: 1em 2em;
    color: white;
    border-radius: 1em;
    background-color: black;
}


nav a:nth-child(1) {
    background: #FF764E;
}

nav a:nth-child(2) {
    background: #5ED3EB;
}

nav a:nth-child(3) {
    background: #FFCD69;
}

.tanitim {
    display: flex;
    justify-content: space-between;
    margin: 5em 5em 0em 5em;
}

.tanitim img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.tanitim div {
    text-align: center;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bilgi {
    margin: 1em 5em 1em 5em;
    text-align: center;
    background-color: #DDB9A3;
}

h1 {
    margin-block-start: 0em;
}

section {
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

section img {
    width: 20%;
}

footer {
    margin-top: 5em;
}

footer img {
    width: 100%;
    height: 10em;
    display: block;
}

footer nav {
    padding-top: 1em;
    padding-bottom: 1.5em;
    background: #DDB9A3;
}


